
<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<meta charset=UTF-8>

<head>
<style>

body {
    background-image: url("https://st3.idealista.it/cms/archivie/styles/idcms_social_tablet/public/2018-10/media/image/italia.jpg?fv=xwog1qzD&itok=5p9ClRKh");  
background-attachment:fixed;
}
</style>
</head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">    
            
    <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Modifier célibrité</div>
            </div>  
            <div class="panel-body" >
                <form action="#" th:action="@{/update}" th:object="${editC}" method="post">
                    <input type='hidden' name='csrfmiddlewaretoken' value='XFe2rTYl9WOpV8U6X5CfbIuOZOELJ97S' />
                            

                    <form  class="form-horizontal" method="post" >
                        <input type='hidden' name='csrfmiddlewaretoken' value='XFe2rTYl9WOpV8U6X5CfbIuOZOELJ97S' />
                        
                     
                        <div class="form-group required">
                            <label  class="control-label col-md-4  requiredField"> Numéro de Celebrite<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 ">
                                <input class="input-md  textinput textInput form-control"  placeholder="Modifier Num Célébrité" style="margin-bottom: 10px" type="text" th:field="*{numCelebrite}"/>
                            </div>
                        </div>
                        <div id="div_id_email" class="form-group required">
                            <label  class="control-label col-md-4  requiredField"> Nom<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 ">
                                <input class="input-md emailinput form-control" placeholder="Modifier le Nom" style="margin-bottom: 10px" type="text" th:field="*{nom}" />
                            </div>     
                        </div>
                        <div id="div_id_password1" class="form-group required">
                            <label for="id_password1" class="control-label col-md-4  requiredField">Prénom<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 "> 
                                <input class="input-md textinput textInput form-control" placeholder="Modifier le prénom" style="margin-bottom: 10px" type="text" th:field="*{prenom}" />
                            </div>
                        </div>
                        <div id="div_id_password2" class="form-group required">
                             <label for="id_password2" class="control-label col-md-4  requiredField"> Nationalité<span class="asteriskField">*</span> </label>
                             <div class="controls col-md-8 ">
                                <input class="input-md textinput textInput form-control" id="id_password2" name="password2" placeholder="Modifier la nationnalité" style="margin-bottom: 10px"  type="text" th:field="*{nationalite}"/>
                            </div>
                        </div>
                        <div id="div_id_name" class="form-group required"> 
                            <label for="id_name" class="control-label col-md-4  requiredField"> L'époque<span class="asteriskField">*</span> </label> 
                            <div class="controls col-md-8 "> 
                                <input class="input-md textinput textInput form-control"  placeholder="Modifier l'époque" style="margin-bottom: 10px" type="text" th:field="*{epoque}"/>
                            </div>
                        </div>
                                                                  
                        <div class="form-group"> 
                            <div class="aab controls col-md-4 "></div>
                            <div class="controls col-md-8 ">
                                <input type="submit" name="Signup" value="Submit" class="btn btn btn-primary"/>
                            </div>
                        </div> 
                            
                    </form>

                </form>
            </div>
        </div>
    </div> 
</div>
    





</div>           